/*CONFIGURAÇÕES GERAIS E DA PAGINA INDEX*/

*{
    margin: 0;
    padding: 0;
}

#logo{
    margin-left: 45%;
}

nav ul{
    list-style-type: none;
    margin-left: 25%;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
    float: left;
}

nav a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color:rgb(192, 180, 15)

}

hr{
    margin-left: 50px;
    margin-right: 50px;
    width: 1255px;
}

h1{
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
    color: rgb(192, 180, 15);
}

#banner{
    margin-left: 27%;
}

p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    font-family: sans-serif;
}

#serv{
    padding-left: 6%;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding-top: 3%;
    margin-right: 10%;
    text-align: center;
} 

.lista{
    padding-bottom: 10px;
}

#fale-conosco p{
    text-align: center;
    font-size: 16px;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(192, 180, 15);
}
footer p{
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
}

/*CONFIGURAÇÕES DA PÁGINA ACOMODAÇÕES*/
#acomodacoes1{
    background-color: rgb(180, 180, 180);
    width: 260px;
    height: 230px;
    border-radius: 12px;
    box-shadow: #aaaa;
    float: left;
    margin-left: 5%;
}
#acomodacoes1 img{
    width: 250px;
    height: 190px;
    padding-left:5px;
    padding-top: 5px;
}
#acomodacoes1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
#acomodacoes1 h2{
    font-size: 1.5rem;
}

#acomodacoes2{
    background-color: rgb(180, 180, 180);
    width: 260px;
    height: 230px;
    border-radius: 12px;
    box-shadow: #aaaa;
    float: left;
    margin-left: 15%;
}
#acomodacoes2 img{
    width: 250px;
    height: 190px;
    padding-left:5px;
    padding-top: 5px;
}
#acomodacoes2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
#acomodacoes2 h2{
    font-size: 1.5rem;
}

#acomodacoes3{
    background-color: rgb(180, 180, 180);
    width: 260px;
    height: 230px;
    border-radius: 12px;
    box-shadow: #aaaa;
    float: left;
    margin-left: 17%;
}
#acomodacoes3 img{
    width: 250px;
    height: 190px;
    padding-left:5px;
    padding-top: 5px;
}
#acomodacoes3 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
#acomodacoes3 h2{
    font-size: 1.5rem;
}

/*QUARTO DUPLO*/
#imgduplo{
    width: 700px;
    height: 350px;
    float: right;
    margin-right: 5%;
}
#duplo{
    padding-top: 10px;
}
#duplo ul{
    margin-left: 7%;
}
.valor{
    font-size: 2rem;
    font-weight: bolder;
}
#proximo{
    font-size: 1.5rem;
    margin-left: 5%;
}
#proximo a{
    color: rgb(192, 180, 15);
}

/*QUARTO TRIPLO*/
#imgtriplo{
    width: 700px;
    height: 350px;
    float: right;
    margin-right: 5%;
}
#triplo{
    padding-top: 10px;
}
#triplo ul{
    margin-left: 7%;
}
.valor{
    font-size: 2rem;
    font-weight: bolder;
}
#proximo{
    font-size: 1.5rem;
    margin-left: 5%;
}
#proximo a{
    color: rgb(192, 180, 15);
}

/*QUARTO QUADRIPLO*/
#imgquadri{
    width: 700px;
    height: 350px;
    float: right;
    margin-right: 5%;
}
#quadriplo{
    padding-top: 10px;
}
#quadriplo ul{
    margin-left: 7%;
}
.valor{
    font-size: 2rem;
    font-weight: bolder;
}
#proximo{
    font-size: 1.5rem;
    margin-left: 5%;
}
#proximo a{
    color: rgb(192, 180, 15);
}

/*LOCALIZAÇÃO*/
#mapa{
    float: right;
}
#local{
    padding-bottom: 30%;
}
#local h2{
    font-family: sans-serif;
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}

/*Contato*/

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    float: right;
    margin-right: 15%;
    background-color: whitesmoke;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #000;
}
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  background-color: rgba(194, 183, 183, 0.781);
}
input:focus, textarea:focus{
  border-color: #000;
}

/*informações*/
#info{
    margin-top: 3%;
    padding-bottom: 300px;
}